doctype html
html
  head
    title= 'Votación para Representante Estudiantil'
    link(rel='stylesheet', href='/static/css/index.css')
    link(rel='stylesheet', href='/static/css/checkbox.css')
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    script(src="/static/js/app.js")
  body
    div.index-wrapper
        div.index-panel
          div.index-header
            h3= "Votación para Representante Estudiantil"
          div.index-estudiante
            div.icono-estudiante
              i.far.fa-user
            div.nombre-estudiante
              span= "Estudiante"
              span(class="dato") #{usuario.nombres}
              span(class="dato") #{usuario.apellidos}
              span= "Facultad"
              span(class="dato") #{usuario.facultad.nombre}
          div.index-icono
            i.far.fa-archive
              span Semestre #{usuario.semestre}
          div.index-area-principal
            if usuario.yaVoto
              div.informacion-voto
                i.far.fa-thumbs-up
                p Usted votó por 
                h2 #{usuario.candidato.nombres} #{usuario.candidato.apellidos}
                //- Obtiene el día
                - var dias = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]
                - var diaSemana = dias[usuario.fechaVotacion.getDay()]
                //- Obtiene el mes
                - var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
                - var mes = meses[usuario.fechaVotacion.getMonth()]

                p El voto se hizo el día #{diaSemana}, #{mes} #{usuario.fechaVotacion.getDay()} de #{usuario.fechaVotacion.getFullYear()} a las #{usuario.fechaVotacion.toLocaleTimeString()}
              div.area-boton
                a(href="logout", class="boton") Salir

            else

              p Recuerde que sólo puede votar una vez y el voto no puede ser modificado.
              p Por favor, seleccione el candidato de su elección:
              form(id="formulario", class="candidatos", action="/", method="post")              
                each candidato in candidatos
                  div.inputGroup
                    input(id="candidato_" + candidato._id, name="candidato", type="radio", value=candidato._id, class="check-candidato")
                    label(for="candidato_" + candidato._id) #{candidato.nombres} #{candidato.apellidos}
              div(id="seleccionar-error")
                i(class="far fa-exclamation-circle")
                    span "Debe seleccionar al menos un candidato"
              div(class="area-boton area-boton-votar")
                input(type="button", id="botonVotar", class="boton" value="Votar", form="formulario")
              div.area-boton
                a(href="logout", class="boton") Salir