doctype html
html
  head
    title= 'Votación para Representante Estudiantil'
    link(rel='stylesheet', href='/static/css/login.css')
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
  body
    div.login-wrapper
        div.login-panel
            div.login-panel-header
                //- i.far.fa-archive
                img(src="static/img/logo.png", alt="USTA")
                h2= "Votación para Representante Estudiantil"            
            div.login-panel-mensajes
                if (messages.error)
                    div.login-error
                        i(class="far fa-exclamation-circle")
                            span #{messages.error}
            div.login-panel-label-email
                label(for="username") Email
            div.login-panel-input-email
                input(type="email", name="username", id="username", form="formulario", autofocus)
            div.login-panel-label-documento
                label(for="documento") Documento   
            div.login-panel-input-documento
                input(type="password", name="password", id="password", form="formulario")
            div.login-panel-submit
                input(type="submit", value="Iniciar sesión", form="formulario")

    form(id="formulario", action="/login", method="post")