doctype html
html
  head
    title= 'Votación para Representante Estudiantil'
    link(rel='stylesheet', href='/static/css/report.css')
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
  body
    div.report-panel
      h3= "Reporte de Votaciones de Representante Estudiantil"
      div.consolidado
        h4 Cantidad de estudiantes: #{totalEstudiantes}
        h4 Cantidad de votos:  #{totalVotantes}
        h4 Porcentaje de votación: #{((totalVotantes*100)/totalEstudiantes).toFixed(2)}%
        hr
        canvas(id="votantesPie", data-votantes=`${totalVotantes}`, data-no-votantes=`${totalNoVotantes}`)
        hr
        canvas(id="votacionesStackedBar", data-lista-semestres=`${listaSemestres}`)
      table(class="table-fill")
        thead
          tr
            th(class="text-center") Facultad
            th(class="text-center") Semestre
            th(class="text-center") Candidato
            th(class="text-center") Votos
            th(class="text-center") Ganador
        tbody(class="table-hover")
        - var semestreAnterior = 0
        each candidato in candidatos
          tr
            td(class="text-center") #{candidato.facultad.nombre} 
            td(class="text-center") #{candidato.semestre}
            td(class="text-center") #{candidato.nombres} #{candidato.apellidos} 
            td(class="text-center") #{candidato.votos}
            td(class="text-center")
              if candidato.semestre !== semestreAnterior && candidato.votos !== 0
                i(class="fas fa-star winner")
                - semestreAnterior = candidato.semestre
    //- script(src="/scripts/chart.js/dist/Chart.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
    script(src="/static/js/grafica.js")