@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2B8DC0;
}

.index-wrapper {
  width: 100vw;
  height: 100vh;
  background: #2B8DC0;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template: 50px 2fr 200px / 0.6fr 1fr 0.6fr;
}

.index-panel {
  background: #ffffff;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template: 60px 0.4fr 50px 1fr / 1fr;
}

.index-header {
  grid-row: 1 / 2;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.2em;
  border-bottom: 1px solid #cfcfcf;
  color: #063D5B;
}

.index-header h3 {
  font-weight: 300;
  text-align: center;
}

.index-estudiante {
  grid-row: 2 / 3;
  display: grid;
  grid-template: 1fr 0.1fr / 0.5fr 1fr;
}

.icono-estudiante {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 4em;
  color: #2B8DC0;
}
.nombre-estudiante {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  align-items: end;
}

.nombre-estudiante span.dato {
  font-weight: 300;
}

.nombre-estudiante > h2,
.semestre-estudiante > span {
  font-weight: 300;
}

.semestre-estudiante {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.index-icono {
  grid-row: 3 / 4;
  border-top: 1px solid #cfcfcf;
  padding-top: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.6em;
  color: #063D5B;
}
.index-icono span {
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
  letter-spacing: -1px;
}

.index-area-principal {
  grid-row: 4 / 5;
  padding-top: 10px;
  font-weight: 300;
  justify-self: center;
}
/* .radio-candidato {
  background: yellow;
  margin: 2px;
  padding: 5px;
} */

.boton,
input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  width: 120px;
  padding: 7px;
  border: none;

  background: #DCB23B;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
}

.boton:hover,
input[type="submit"]:hover {
  background: #2B8BC0;
  color: #ffffff;
}

.boton:focus {
  outline: none;
}

.area-boton {
  display: grid;
  justify-items: center;
  padding-top: 20px;
}

.area-boton-votar {
  border-top: 1px solid #cfcfcf;
}

.informacion-voto {
  display: grid;
  justify-items: center;
}

.informacion-voto i {
  font-size: 3em;
  color: #de8147;
}

/* form.candidatos {
  padding: 0px 60px;
} */

#seleccionar-error {
  border: 1px solid #de8147;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: 300;
  background: #e2c2ae;
  color: #de8147;
}

#seleccionar-error span {
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
}
