@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background: #2B8DC0;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template: 50px 2fr 2fr / repeat(3, 1fr);
}

.login-panel {
  background: #ffffff;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template: 180px 50px 50px 50px 50px 50px / 1fr 2fr;
  grid-template-areas:
    "encabezado encabezado"
    "mensajes mensajes"
    "label-email input-email"
    "label-documento input-documento"
    "panel-submit panel-submit";
}

.login-panel-header {
  grid-area: encabezado;

  display: grid;
  justify-items: center;
  border-bottom: 1px solid #7e7e7e;
}
.login-panel h2 {
  width: 80%;
  text-align: center;
  color: #5E483A;
  font-weight: 300;
}

.login-panel-header i {
  color: #063D5B;
  font-size: 5em;
  margin-top: 10px;
}

.login-panel-header img{
  width: 100px;
}

.login-panel-mensajes {
  grid-area: mensajes;
}

.login-panel-label-email {
  grid-area: label-email;
  font-size: 1.5em;
  display: grid;
  justify-items: right;
  align-items: center;
  padding-right: 20px;
}
.login-panel-input-email {
  grid-area: input-email;
  display: grid;
  align-items: center;
}

.login-panel-label-documento {
  grid-area: label-documento;
  font-size: 1.5em;
  display: grid;
  justify-items: right;
  align-items: center;
  padding-right: 20px;
}
.login-panel-input-documento {
  grid-area: input-documento;
  display: grid;
  align-items: center;
}

label{
  font-size: 0.8em;
}

.login-panel-submit {
  grid-area: panel-submit;
  display: grid;
  justify-items: center;
  padding-top: 20px;
}

label {
  font-weight: 300;
}

input[type="email"],
input[type="password"] {
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 10px;
  font-weight: 300;
  width: 350px;
  border-radius: 5px;
}
input[type="email"]:focus,
input[type="password"]:focus{
  outline-color: #2B8DC0;
  border-radius: 5px;
}

input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  width: 200px;
  padding: 7px;
  border: none;
  background: #DCB23B;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:hover {
    background: #2B8BC0;
    color: #ffffff;
}

.login-error{
    border: 1px solid #DE8147;
    margin:10px;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 300;
    background: #e2c2ae;
    color: #DE8147;
}

.login-error span {
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
}
